/*
@Authors
<Joshua Shadwick> (Joshua.Shadwick@bobcats.gcsu.edu)
<Phillip Vinson> (Phillip.Vinson@bobcats.gcsu.edu)
<William Smith> (William.Smith3@bobcats.gcsu.edu)

@Overview
This mobile webpage is for Lockerly Arboretum in Milledgeville, GA.  This project was
created by Joshua Shadwick, Phillip Vinson, and William Smith for CSCI 4320 (Software Engineering), 
instructed by Dr. Gita Phelps during the Spring 2014 semester.

This webpage's primary function is to help users locate and gather information about the
various donated trees on the property.  Visitors to Lockerly Arboretum will be able to
visit this page on their mobile device, and then search the database for trees based on
their donation date, tree species, and the names of the honoree or donor. Once the specified
tree(s) is found, it can be displayed on a map of the grounds - along with any other relevant
information about the tree.

@file description

*/

@charset "UTF-8";
/* CSS Document */

/* Page Header */
	.ui-bar-a
	{ 
		background: #56562F; box-shadow: 1px 1px 20px 5px #191919;
	}

/* Page Background */
	.ui-page 
	{ 
		background-image:url("../images/bg.png");
	}

h1
{
	text-shadow: 1px 2px 2px #000;
	font-weight:bold;
}

h2
{
	text-shadow: none;
	color: white;
	font-weight:bold;
}

h3
{
	text-shadow: none;
	color: white;
	font-weight:bold;
}

h4
{
	text-shadow: none;
	color: white;
	font-weight:bold;
	margin-bottom: 2px; 
	padding-bottom: 2px;
	
}

p#info
{
	margin-top: 0; 
	padding-top: 0;
	font-size: 12pt;
}

p
{
	text-shadow: none;
	color: white;
	font-weight:none;
}

t{
	color:white;
}

.black {color: black;}
